*{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    text-decoration: none;
}

.container-task{
    width: 200px;
    height: 150px;
    background-color: var(--blue);
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}
.container-round{
    width: 75px;
    height: 75px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#nova{
    font-weight: 500;
    color: #fff;
}
.container-down{
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -30px;
}
.align{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}