.container-home{
    /* width: 100vw; */
    display: flex;
    /* padding-top: 5px; */
    flex-direction: row;
/* justify-content: space-between; */
    gap: 5px;
    height: 100vh;
    /* flex-wrap: wrap; */
}

.click{
    height: min-content;
    width: min-content;
    
}
.responsive{
    display: flex;
    flex-wrap: wrap;
   width: 100%;
   height: min-content;
   overflow-y: scroll;
   margin-bottom: 15vh;
}

@media (max-width: 600px) {
    .container-home{
        flex-direction: column;
    }
}