* {
  font-family: "Poppins";
}

.container-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 85vh;
  width: 100vw;
}
.teste {
  color: black;
}
.tarefaCompleta {
  text-decoration: line-through;
}
.input-lista {
  width: 30%;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  /* border-bottom: 1px solid; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 5px;
}
/* .edit {
  background: var(--blue);
  border: none;
  border-radius: 0.375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  padding: 3px;
  margin-left: 5px;
} */
.container-list-name {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  margin-top: 10px;
  padding: 20px;
}
.name {
  font-weight: bold;
}
.numberTasks {
  margin-left: 5px;
  font-size: medium;
  opacity: 0.5;
}
.tarefas-map {
  display: flex;
  flex-direction: column;
}
.container-inputs {
  width: 100vw;
  height: min-content;
  display: flex;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
}
input[disabled],
input[disabled]:hover {
  background-color: rgba(0, 0, 0, 0.24);
}
.container-content {
  margin-left: 20px;
  margin-top: 20px;
}
.buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 10px;
}


