.slide-right.active {
    animation: 3s slide-right;
}
.container-new{
        background-color: #E1E1E1;
        border-radius: 20px;
        height: 85vh;
}
.container-second{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
@keyframes slide-right {
    from {
        width: 0;
    }

    to {
        width: 40vw;
    }
}

.slide-left.active {
    animation: 3s slide-left;
  }
  @keyframes slide-left {
    from {
        width: 40vw;
    }
    to {
        width: 0;
        padding-left: 0;
    }
  }
  